//variaveis
@cinza-escuro: #333;
@cinza-elegante: #acacac;
//
@base-texto: 18px;
@base-titulo: 22px;
@base-1: @base-texto * 0.8em;
@base-2: @base-texto * 1.05em;
@base-3: @base-texto * 1.15em;

//Functions
.button(){
  display: inline-block;

  cursor: pointer;
  font-size: 1.35rem;
  font-weight: bolder;

  .dinamico(@color) {
    background-color: @color;
    transition: background-color 0.75ms ease-out;

    &:hover {
      background-color: darken(@color, 15%);
    }

    &:active {
      transform: translateY(2.5px);
    }
  }
}

.padding-padrao(){ padding: 1.10em 0; }
.padding-suave(){ padding: 0.4em 0.85em; }

.borda-simples() {
  border: 0.6px solid @cinza-elegante;
}
.borda-smooth() {
  border: 1.6px solid @cinza-elegante;
}