@import "library";

.conteudo {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-column-gap: 7vw;
  grid-row-gap: 2em;
  justify-content: center;

  padding: 2em 0;

  h3 {
    text-align: center;
    align-self: center;
    color: @cinza-escuro;
    grid-row: 1/2;
  }
}

.painel-controles,
.painel-tarefas {
  grid-column: 2/3;
}

.painel-controles {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.painel-tarefas {
  display: flex;
  flex-direction: column;
  row-gap: .5em;

  padding: 1.3em;
  min-height: 100%;
  max-height: 420px;
  overflow: auto;
  
  align-self: flex-start;
  grid-row: 2/3;
  
  background: linear-gradient(to bottom, #2c9a8845 30%, #06736145 87%) ;

  .tarefa {
    display: grid;
    grid-template-columns: 1fr .3fr;
    grid-row-gap: 1.2em;
    padding: 1.3em;

    background-color: #2C9A87;
    color: white;
    transition: box-shadow 50ms ease-in, transform 75ms ease-in;

    &:hover {
      box-shadow: 0 0 6px 1px @verde-vivo, 0 0 10px 2px @azul-primario;
      transform: scale(1.015);
    }
  }
}

.tarefa {
  .descricao {
    align-self: start;
    grid-column: 1/2;
    
    max-width: 100%;
    text-align: justify;
  }

  .tags {
    justify-self: start;
    align-self: end;
    grid-column: 1/2;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5em;
    row-gap: 0.25em;
    flex-flow: row wrap;
    max-width: 100%;

    color: @cinza-escuro;

    p {
      background-color: #7BDC62;
      padding: .25em 1.125em;
    }
  }

  .data {
    align-self: end;
    justify-self: end;
    grid-column: 2/3;

    font-size: 1rem;
    font-style: italic;
    word-spacing: .55em;
  }

  .tarefa-opcoes {
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: .25em;

    .opcoes {
      font-size: 1.3rem;
      padding: .25em .5em;
      color: white;
      cursor: pointer;
      border: 1.3px solid transparent;
      transition: border .7ms ease-out, background-color .9ms ease-out, color .7ms ease-out;
    }
  }

  .deletar {
    background-color: #b63636;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;

    &:hover {
      border-color: #b63636;
      background-color: white;
      color: #b63636;
    }
  }
  
  .editar {
    background-color: @azul-primario;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;

    &:hover {
      border-color: @azul-primario;
      background-color: white;
      color: @azul-primario;
    }
  }
}

.painel-criacao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  height: 520px;
  
  align-self: flex-start;
  grid-row: 2/3;
  grid-column: 1/2;
  
  form {
    width: 100%;
    padding: 1.5em;

    background: linear-gradient(to bottom, #1B4C9A 1%, #164185 30% , #07295E 76% );
  }

  label {
    display: inline-block;
    font-size: 1.45rem;
    color: white;
    font-weight: bold;
  }

  input, textarea {
    .form-controller;
    background-color: @azul-primario;
    color: white;
  }

  textarea {
    &::-webkit-resizer {
      display: none;
    }
  }
}

.controles-buscar {
  display: flex;
  align-items: center;
  width: 63%;
  padding: .3em .75em;
  
  grid-row: 1/2;

  .borda-smooth;

  input {
    flex-grow: 2;
    padding: 0 .3em;
    border: none;
    color: @cinza-escuro;

    &:focus {
      outline: none;
    }

    &::placeholder {
      word-spacing: 0.1em;
    }
  }
}

.controles-filtro-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  
  grid-row: 1/2;

  > a{
    position: relative;
  }
  
  .filtro-menu {
    display: none;
    position: absolute;
    padding: 1em;
    top: 105%;
    min-width: 100%;
    
    color: @cinza-escuro;
    background-color: white;
    box-shadow: 0 0 5.5px @cinza-elegante;

    a {
      &:hover {
        background-color: @cinza-elegante;
        color: white;
      }  
    }
  }

  &:hover {  
    .filtro-menu {
      display: block;
    }
  }

}

.btn-dropdown {
  display: flex !important;
  justify-content: space-between;
  min-width: 100%;
}

.filtro-menu a {
  display: block;
  padding: .5em;
  color: @cinza-escuro;
}