.conteudo {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-column-gap: 7vw;
  grid-row-gap: 2em;
  justify-content: center;
  padding: 2em 0;
}
.conteudo h3 {
  text-align: center;
  align-self: center;
  color: #333;
  grid-row: 1/2;
}
.painel-controles,
.painel-tarefas {
  grid-column: 2/3;
}
.painel-controles {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.painel-criacao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  height: 520px;
  align-self: flex-start;
  grid-row: 2/3;
  grid-column: 1/2;
}
.painel-criacao form {
  width: 100%;
  padding: 1.5em;
  background: linear-gradient(to bottom, #1B4C9A 1%, #164185 30%, #07295E 76%);
}
.painel-criacao label {
  display: inline-block;
  font-size: 1.45rem;
  color: white;
  font-weight: bold;
}
.painel-criacao input,
.painel-criacao textarea {
  display: block;
  min-width: 100%;
  padding: 1em;
  border: none;
  background-color: #3961A0;
  color: white;
}
.painel-criacao input:focus,
.painel-criacao textarea:focus {
  outline: none;
}
.painel-criacao textarea::-webkit-resizer {
  display: none;
}
.painel-editar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 470px;
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 2;
}
.painel-editar form {
  width: 100%;
  padding: 1.5em;
  background: linear-gradient(to bottom, #1B4C9A 1%, #164185 30%, #07295E 76%);
}
.painel-editar label {
  display: inline-block;
  font-size: 1.45rem;
  color: white;
  font-weight: bold;
}
.painel-editar input,
.painel-editar textarea {
  display: block;
  min-width: 100%;
  padding: 1em;
  border: none;
  background-color: #3961A0;
  color: white;
}
.painel-editar input:focus,
.painel-editar textarea:focus {
  outline: none;
}
.painel-editar textarea::-webkit-resizer {
  display: none;
}
.editar-hide {
  display: none;
}
.editar-show {
  display: block;
}
.painel-tarefas {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 1.3em;
  min-height: 100%;
  max-height: 420px;
  overflow: auto;
  align-self: flex-start;
  grid-row: 2/3;
  background: linear-gradient(to bottom, #2c9a8845 30%, #06736145 87%);
}
.painel-tarefas .tarefa {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-row-gap: 1.2em;
  padding: 1.3em;
  background-color: #2C9A87;
  color: white;
  transition: box-shadow 50ms ease-in, transform 75ms ease-in;
}
.painel-tarefas .tarefa:hover {
  box-shadow: 0 0 6px 1px #7BDC62, 0 0 10px 2px #3961A0;
  transform: scale(1.015);
}
.tarefa .descricao {
  align-self: start;
  grid-column: 1/2;
  max-width: 100%;
  text-align: justify;
}
.tarefa .tags {
  justify-self: start;
  align-self: end;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5em;
  row-gap: 0.25em;
  flex-flow: row wrap;
  max-width: 100%;
  color: #333;
}
.tarefa .tags p {
  background-color: #7BDC62;
  padding: 0.25em 1.125em;
}
.tarefa .data {
  align-self: end;
  justify-self: end;
  grid-column: 2/3;
  font-size: 1rem;
  font-style: italic;
  word-spacing: 0.55em;
}
.tarefa .tarefa-opcoes {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  column-gap: 0.25em;
}
.tarefa .tarefa-opcoes .opcoes {
  font-size: 1.3rem;
  padding: 0.25em 0.5em;
  color: white;
  cursor: pointer;
  border: 1.3px solid transparent;
  transition: border 0.7ms ease-out, background-color 0.9ms ease-out, color 0.7ms ease-out;
}
.tarefa .deletar {
  background-color: #b63636;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
}
.tarefa .deletar:hover {
  border-color: #b63636;
  background-color: white;
  color: #b63636;
}
.tarefa .editar {
  background-color: #3961A0;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}
.tarefa .editar:hover {
  border-color: #3961A0;
  background-color: white;
  color: #3961A0;
}
.controles-buscar {
  display: flex;
  align-items: center;
  width: 63%;
  padding: 0.3em 0.75em;
  grid-row: 1/2;
  border: 1.6px solid #acacac;
}
.controles-buscar input {
  flex-grow: 2;
  padding: 0 0.3em;
  border: none;
  color: #333;
}
.controles-buscar input:focus {
  outline: none;
}
.controles-buscar input::placeholder {
  word-spacing: 0.1em;
}
.controles-filtro-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  grid-row: 1/2;
}
.controles-filtro-dropdown > a {
  position: relative;
}
.controles-filtro-dropdown .filtro-menu {
  display: none;
  position: absolute;
  padding: 1em;
  top: 105%;
  min-width: 100%;
  color: #333;
  background-color: white;
  box-shadow: 0 0 5.5px #acacac;
}
.controles-filtro-dropdown .filtro-menu a:hover {
  background-color: #acacac;
  color: white;
}
.controles-filtro-dropdown:hover .filtro-menu {
  display: block;
}
.btn-dropdown {
  display: flex !important;
  justify-content: space-between;
  min-width: 100%;
}
.filtro-menu a {
  display: block;
  padding: 0.5em;
  color: #333;
}
